# --- PROTECTIVE CODE REREPO SHIELD ---

# Ignore raw and processed dataset images and annotations
WTBD_YOLO_Baseline/
Blade30_Yolo_processed/
WT blade defect dataset/
3_blade_1_15_with_labeldata/
3_blade_16_30_with_labeldata/
dataset/

# Ignore massive compressed archive files
*.zip
*.tar.gz
*.tgz

# Ignore deep learning binary model weight checkpoints
*.pt
*.onnx
*.engine

# EXPLICIT OVERRIDE: Force Git to track our final model weights file
!backend/final_production_model_50_epochs.pt
!frontend/final_production_model_50_epochs.pt

# Ignore local system clutter and environment configurations
.DS_Store
.venv/
venv/
.env
__pycache__/
*.pyc

# Block private credential keys
*wandb*

# Block loose guidelines and local notebook sandboxes
*.pdf
*.docx
*.ipynb
